{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Debug",
      "request": "launch",
      "type": "dart",
      "args": [
        "--debug",
        "--dart-define",
        "SENTRY_DSN="
      ]
    },
    {
      "name": "Release",
      "request": "launch",
      "type": "dart",
      "args": [
        "--release",
        "--dart-define",
        "SENTRY_DSN="
      ]
    }
  ]
}
